<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cotação Detalhada</title>
</head>
<body>
<h1>Teste Cotação detalhada</h1>

<table>

    <tr>{{ object.uasg }}</tr>
    <tr><td>{{ object.numero }}</td></tr>
    <tr><td>{{ object.objeto }}</td></tr>
    <tr><td>{{ object.link }}</td></tr>
    <tr><td>{{ object.data_abertura }}</td></tr>
    <tr><td>{{ object.observacoes }}</td></tr>
    <tr><td>{{ object.situacao }}</td></tr>
    <tr><td>{{ object.data_encerramento }}</td></tr>
    <tr><td>{{ object.hora_encerramento }}</td></tr>
    <tr><td>{{ object.valor_maximos }}</td></tr>

</table>
</body>
</html>