{% extends 'base.html' %}

{% block title %} Cotação Eletronica {% endblock %}

{% block main %}


    <div class="container">
        <h1 class="text-center">COTAÇÃO ELETRÔNICA</h1>

        <table class="table table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Número</th>
                    <th scope="col">Objeto</th>
                    <th scope="col">Data de Encerramento</th>
                    <th scope="col">Hora de Encerramento</th>
                </tr>
            </thead>
            <tbody>
            {% for cotacao in object_list %}
                {% if cotacao.exibir == True %}

                    <tr>
                        <th scope="row">{{cotacao.numero}}</th>
                        <td class="text-justify"><a href= {{cotacao.link}}  >{{cotacao.objeto}}</a></td>
                        <td>{{cotacao.data_encerramento}}</td>
                        <td>{{cotacao.hora_encerramento}}</td>
                     </tr>
                {% endif %}
            {% endfor%}
            </tbody>
        </table>
    </div>

{% endblock %}